<?xml version="1.0" encoding="UTF-8"?>
<config>
	<global>
		<helpers>
			<solr>
				<class>Danslo_Solr_Helper</class>
			</solr>
		</helpers>
		<models>
			<catalog>
				<rewrite>
					<category>Danslo_Solr_Model_Category</category>
					<product>Danslo_Solr_Model_Product</product>
				</rewrite>
			</catalog>
			<solr>
				<class>Danslo_Solr_Model</class>
				<resourceModel>solr_resource</resourceModel>
			</solr>
			<solr_resource>
				<class>Danslo_Solr_Model_Resource</class>
			</solr_resource>
		</models>
		<index>
			<indexer>
				<solr_catalog_category>
					<model>Danslo_Solr_Indexer_Catalog_Category</model>
				</solr_catalog_category>
			</indexer>
		</index>
	</global>
</config>